<%- include('partials/task-screen-before'); %>

<style>
  .aligned-label {
    margin-top: 8px;
    margin-right: -20px;
  }
</style>

<section id="task-content" data-task="jpgToPdf" data-multiple-files="true" data-can-select="false" data-can-delete="true" data-can-rotate="true" data-drop-files-once="false">
  <div class="container centered">
    <div class="row">
      <h1><%= __('JPG to PDF') %></h1>
      <h2><lift:locS>Convert Images to PDF</lift:locS></h2>
    </div>
  </div>

  <%- include('partials/file-upload', { pages: 30, fileSize :5, fileTypes: 'png,gif,jpg,jpeg,tif,tiff,bmp,webp' }); %>
  <%- include('partials/loading'); %>
  <%- include('partials/image-page-thumbnails'); %>

  <div class="centered bottom-fixed step2" style="display:none; margin-top: 40px">
    <form class="form-inline task-form" autocomplete="off">
      <input type="hidden" name="type" value="jpgToPdf"/>

      <div class="container">
        <div class="row head-space-xl">
          <div class="col-xs-4">
            <div class="row">
              <label class="aligned-label"><lift:locS>Page size</lift:locS>:</label>
            </div>
            <div class="row">
              <select name="pageSize" id="pageSize" class="selectpicker dropup" data-style="btn-xs btn-select">
                <option value="auto">Fit to image</option>
                <option data-divider="true"></option>
                <option value="custom" id="pageSizeCustomOption">Custom size</option>
                <option data-divider="true"></option>
                <option value="A5" data-w="5.83" data-h="8.27">A5 (5.83 x 8.27)</option>
                <option value="A4" data-w="8.27" data-h="11.69" selected="selected">A4 (8.27 x 11.69)</option>
                <option value="A3" data-w="11.69" data-h="16.54">A3 (11.69 x 16.54)</option>
                <option value="A2" data-w="23.39" data-h="33.11">A2 (23.39 x 33.11)</option>
                <option value="A1" data-w="33.11" data-h="46.81">A1 (33.11 x 46.81)</option>
                <option data-divider="true"></option>
                <option value="letter" data-w="8.5" data-h="11">Letter (8.5 x 11)</option>
                <option value="legal" data-w="8.5" data-h="14">Legal (8.5 x 14)</option>
                <option value="legder" data-w="11" data-h="17">Ledger (11 x 17)</option>
                <option value="tabloid" data-w="17" data-h="11">Tabloid (17 x 11)</option>
                <option value="executive" data-w="7.25" data-h="10.55">Executive (7.25 x 10.55)</option>
              </select>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="row">
              <label class="aligned-label"><lift:locS>Page orientation</lift:locS>:</label>
            </div>
            <div class="row">
              <select name="pageOrientation" id="pageOrientation" class="selectpicker dropup" data-style="btn-xs btn-select">
                <option value="auto" selected="selected">Auto</option>
                <option data-divider="true"></option>
                <option value="portrait">Portrait</option>
                <option value="landscape">Landscape</option>
              </select>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="row">
              <label class="aligned-label"><lift:locS>Margin</lift:locS>:</label>
            </div>
            <div class="row">
              <select name="pageMargin" id="pageMargin" class="selectpicker dropup" data-style="btn-xs btn-select">
                <option value="0" selected="selected">None</option>
                <option value="0.5" data-content="Small margin <label class='light'>0.5&quot;</label>">Small margin</option>
                <option value="1" data-content="Large margin <label class='light'>1&quot;</label>">Large margin</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row aligned-checkbox head-space-xl">
          <div class="checkbox">
            <label>
              <input type="checkbox" value="true" checked="checked" name="mergeOutputs">
              <lift:locS>Merge into one document</lift:locS>
            </label>
            <span class="input-help">
              <i class="fal fa-question-circle lift:locTooltip" data-toggle="tooltip" data-placement="top" data-html="true"
                 title="Create one single PDF document as output, instead of converting each image to a separate PDF."></i>
            </span>
          </div>
        </div>
        <div class="row head-space-xl">
          <button type="submit" class="btn btn-default btn-medium"><lift:locS>Convert to PDF</lift:locS></button>
        </div>
      </div>
    </form>
  </div>

  <div id="globalBtns" style="display: none">
    <div aria-label="Tools" role="group" class="btn-group wrap">
      <div class="btn-group upload-btn-group secondary-upload-btn-group can-add-more">
            <span class="btn fileinput-button">
              <i class="fal fa-file-pdf"></i>
              <i class="fal fa-spinner fa-pulse" style="display: none"></i> Add More Files
              <form action="" method="post" enctype="multipart/form-data">
                <input class="fileupload" type="file" name="file" data-url="" data-scope="task-file" multiple="multiple" title="Select" accept=".png,.gif,.jpg,.jpeg,.tif,.tiff,.bmp,.webp">
              </form>
            </span>
      </div>
    </div>
    <div id="global-help-hint" style="display: none"></div>
  </div>

  <div id="customPageSizePrompt" class="modal custom-page-size-prompt" style="display: none">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title"><lift:locS>Custom page size</lift:locS></h4>
        </div>
        <div class="modal-body">
          <label class="light"><lift:locS>Width</lift:locS> (<lift:locS>inch</lift:locS>)</label>
          <input value="0.000" class="input-lg form-control" name="pageSizeWidth" type="number" placeholder="8.27" step="0.001" style="max-width: 200px"/>
          <br/>
          <label class="light"><lift:locS>Height</lift:locS> (<lift:locS>inch</lift:locS>)</label>
          <input value="0.000" class="input-lg form-control" name="pageSizeHeight" type="number" placeholder="11.69" step="0.001" style="max-width: 200px"/>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-xs" data-dismiss="modal"><lift:locS>Continue</lift:locS></button>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include('partials/task-common-output-options', { extension: '.pdf' }); %>
<%- include('partials/task-screen-after'); %>
