<%- include('partials/task-screen-before'); %>

<section id="task-content" data-task="grayscale" data-multiple-files="pro">
  <div class="container centered">
    <div class="row">
      <h1><%= __('Convert PDF to Grayscale') %></h1>
      <h2><%= __('Convert PDF text and images to grayscale.') %></h2>
      <h2 style="margin-top: -10px;"><%= __('Export PDF for black and white or offset printing.') %></h2>
    </div>
  </div>

  <%- include('partials/file-upload'); %>
  <%- include('partials/loading'); %>
  <%- include('partials/pdf-files-summary'); %>

  <div class="centered step2" style="display:none; margin-top: 40px">
    <form class="form-inline task-form" autocomplete="off">
      <input type="hidden" name="type" value="grayscale"/>

      <div class="container">
        <div class="more-options" style="display: none; padding-bottom: 40px;">
          <div class="row">
            <label><%= __('Text conversion') %>:</label>
            <div data-toggle="buttons" class="btn-group">
              <label class="btn btn-default btn-xs active">
                <input value="grayscale" name="textConversion" type="radio">
                <%= __('Grayscale') %>
                  <span class="input-help">
                    <i class="fal fa-question-circle" data-toggle="tooltip" data-placement="top" data-html="true"
                       title="Text is converted to shades of gray (grayscale)."></i>
                  </span>
              </label>
              <label class="btn btn-default btn-xs">
                <input value="black" name="textConversion" type="radio">
                <%= __('Black') %>
                  <span class="input-help">
                    <i class="fal fa-question-circle" data-toggle="tooltip" data-placement="top" data-html="true"
                       title="Text is converted to black. Useful for offset printing."></i>
                  </span>
              </label>
            </div>
          </div>
          <div class="row head-space-xl">
            <label><%= __('Image conversion') %>:</label>
            <div data-toggle="buttons" class="btn-group">
              <label class="btn btn-default btn-xs active">
                <input value="grayscale" name="imageConversion" type="radio">
                <%= __('Grayscale') %>
                  <span class="input-help">
                    <i class="fal fa-question-circle" data-toggle="tooltip" data-placement="top" data-html="true"
                       title="Color images are converted to shades of gray (grayscale)."></i>
                  </span>
              </label>
              <label class="btn btn-default btn-xs">
                <input value="none" name="imageConversion" type="radio">
                <%= __('None') %>
                <span class="input-help">
                    <i class="fal fa-question-circle" data-toggle="tooltip" data-placement="top" data-html="true"
                       title="Images are not converted, remain in original colors."></i>
                  </span>
              </label>
            </div>
          </div>
        </div>

        <div class="row head-space">
          <button type="submit" class="btn btn-default btn-medium"><%= __('Convert PDF to Grayscale') %></button>
          <a class="btn btn-link btn-medium btn-more-options" href="javascript://"><%= __('More options') %></a>
        </div>
      </div>
    </form>
  </div>
</section>

<%- include('partials/task-common-output-options', { outputFilenameAffix: 'grayscale' }); %>
<%- include('partials/task-screen-after'); %>
